*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


#header{
    background-color: black
    
    
}

#nav {
    /* display: inline-block; */
}

#nav{
    color: white;
    display: flex;
    gap: 50px;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
    list-style: none;
}

#nav .nav-arrow-down{
    font-size: 14px;
    color: white;
    padding-left: 5px;
}

#nav .search-btn{
    
}

#nav .search-icon{
    background-color: white;
    font-size: 25px;
}
   

