body {
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover {
    color: orange;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}

.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}

main {
    background-color: #131314;
    color: white;
    width: 100%;
    /* height: 1000px; */
}

.quangcao {
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.banner {
    width: 98%;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}

.tentheloai {
    margin: 20px;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
}

.phim img {
    width: 100%;
}

.footer{
    background-color: #111;
    color: #ccc;
    padding: 30px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer-cool{
    margin: 10px;
    
    
}

.footer-cool img{
    display: block;
    margin-bottom: 15px;
}


.footer-cool h3{
    color: white;
    margin-bottom: 10px;
    display: block;
}

.footer-cool ul li{
    margin-bottom: 8px;
    cursor: pointer;
    
}

.footer-cool ul li:hover{
    color: #ff6600;
}

.footer-bottom {
    font-size: 12px;
    color: #aaa;
    padding-top: 20px;
    text-align: left;
    margin-top: 20px;
    
    
}

.footer-cool ul{
    display: block;
   
}

.footer-top{
    display: flex;           
    justify-content: flex-start; 
    gap: 150px;
}